@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

/* Responsive fixes */
table {
  width: 100%;
}
.prose {
  max-width: 100%;
}
/* Ensure wide tables scroll on small screens */
.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
}



